<div class="container mt-5">
  <br />
  <br />
  <table class="table table-bordered text-center">
    <thead class="thead-dark">
      <tr>
        <th class="text-warning bg-primary">S.No</th>
        <th class="text-warning bg-primary">Dish</th>
        <th class="text-warning bg-primary">Quantity</th>
        <th class="text-warning bg-primary">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of carts; let i = index">
        <td class="text-danger">{{ i + 1 }}</td>
        <td class="text-danger">{{ cart.dishTitle }}</td>
        <td class="text-danger">{{ cart.count }}</td>
        <td class="text-danger">{{ cart.price * cart.count }}</td>
       
      </tr>
      <tr class="rowspan">
        <td></td>
        <td></td> 
        <td class="text-danger">Get Total</td>
        <td class="text-danger">Total : {{Total}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-end">
  <div class="d-flex justify-content-between align-items-center mt mt-5">
    <button
      type="button"
      class="btn btn-primary text-warning d-flex justify-content-end mx-2"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      data-bs-whatever="@mdo"
      (click)="checkout()"
      
    >
      CheckOut
    </button>
    <button class="btn btn-warning text-danger" (click)="back()" >Continue Ordering</button>
  </div>
</div>
