<!-- <style>
   #lottie-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100;
  
}
#login-form {
  position: relative;
  z-index: 1; /* Ensure the login form appears above the Lottie animation */
  /* Add other styling for your login form */
}
</style> -->

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-6" id="lottie-container">
        <ng-lottie [options]="options"></ng-lottie>
      </div>

      <div class="col-6" id="login-form">
        <form
          #registerForm="ngForm"
          (ngSubmit)="onSubmit(registerForm)"
          class="mx-5 container h-75 w-100 px-5"
        >
          <h2 class="display-3 fs-1 text-primary">REGISTER PAGE</h2>

          <!-- Username input -->
          <div class="form-outline mb-3">
            <label class="form-label display-3 fs-4" for="username">Name</label>
            <input
              type="text"
              id="Name"
              class="form-control w-75"
              placeholder="Enter a valid Username"
              name="person"
              [(ngModel)]="person"
              ngModel
              required
              minlength="3"
              maxlength="15"
              #UserNamevaild="ngModel"
              [ngClass]="
                UserNamevaild.invalid && UserNamevaild.dirty
                  ? 'is-invalid '
                  : ''
              "
            />
            <div *ngIf="UserNamevaild.invalid" class="invalid-feedback">
              please enter the name min 3 characters
            </div>
          </div>

          <!-- Name input -->
          <div class="form-outline mb-3">
            <label class="form-label display-3 fs-4" for="name">UserName</label>
            <input
              type="text"
              id="name"
              class="form-control w-75"
              placeholder="Enter a valid username"
              name="name"
              ngModel
              required
              minlength="3"
              maxlength="15"
              #Namevaild="ngModel"
              [(ngModel)]="nameRef"
              [ngClass]="
                Namevaild.invalid && Namevaild.dirty ? 'is-invalid ' : ''
              "
            />
            <div *ngIf="Namevaild.invalid" class="invalid-feedback">
              please enter the name min 3 characters
            </div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label display-3 fs-4" for="password"
              >Password</label
            >
            <input
              type="password"
              id="password"
              class="form-control w-75"
              placeholder="Enter password"
              name="password"
              ngModel
              [(ngModel)]="password"
              required
              minlength="3"
              maxlength="10"
              #passwordvaild="ngModel"
              [ngClass]="
                passwordvaild.invalid && passwordvaild.dirty ? 'is-invalid' : ''
              "
            />
            <div *ngIf="passwordvaild.invalid" class="invalid-feedback">
              please enter the name min 3 characters
            </div>
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label display-3 fs-4"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control w-75"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Re-Enter password"
              ngModel
              required
              pattern="{{ passwordvaild.value }}"
              #confpass="ngModel"
              [ngClass]="
                confpass.value !== passwordvaild.value && confpass.dirty
                  ? 'is-invalid'
                  : ''
              "
            />
            <div *ngIf="confpass.invalid" class="invalid-feedback">
              Password is mismatch
            </div>
          </div>

          <div class="form-outline mb-3">
            <label class="form-label" for="dropdown">Select Option</label>
            <select
              id="dropdown"
              class="form-select w-75"
              name="role"
              [(ngModel)]="role"
              ngModel
              required
              #dropdownValid="ngModel"
              [ngClass]=
              "  dropdownValid.invalid && dropdownValid.dirty ? 'is-invalid' : ''"
              
            >
              <option value="" disabled selected>Select an option</option>

              <option value="option2">User</option>
            </select>
            <div *ngIf="dropdownValid.invalid" class="invalid-feedback">
              Please select an option.
            </div>
          </div>

          <div class="d-flex align-items-center mb-4">
            <span>Already registered?</span>
            <a
              routerLink="/login"
              class="text-primary text-decoration-none px-2"
              >Login here</a
            >
          </div>

          <!-- Submit button -->
          <div class="d-grid gap-2 mb-5">
            <button type="submit" class="btn btn-primary w-75">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
