<style>
  .main {
    height: 90vh; /* Adjust the height as needed */
    overflow-y: auto;
  }
</style>
<div class="main">
<div class="d-flex justify-content-between align-items-center mt mt-5">
  <h1 class="fs-3 text-primary display-4 mt-4">USER DETAILS</h1>
</div>


<div class="container mt-5">
  <br />
  <br />
  <form action="">
    <table class="table table-bordered text-center">
      <thead class="thead-dark">
        <tr class="table-primary">
          <th>S.No</th>
          <th>Username</th>
          <th>Name</th>
          <th>Joined At</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.createdAt }}</td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
</div>