<style>
  .main {
    height: 90vh; /* Adjust the height as needed */
    overflow-y: auto;
  }
</style>

<div class="main">
  <p class="fs-3 text-primary display-4 mt-4">ORDER DETAILS</p>
  <p class="fs-3 text-primary display-4 mt-4">ALL ORDERS</p>
  <div>
    <!-- <h2 >All Orders</h2> -->
    <!-- <button (click)="getAllOrders()" class="btn btn-primary" (click)="getAllOrders()">Get All Orders</button><br /> -->

    <table class="table table-bordered mt-2">
      <thead>
        <tr>
          <th scope="col">Order Id</th>
          <th scope="col">User ID</th>
          <th scope="col">UserName</th>
          <!-- <th scope="col">Created At</th> -->
          <th scope="col">Current Status</th>
          <th scope="col">Update Status</th>
        </tr>
      </thead>
      <tbody id="table">
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <td>{{ order.userId }}</td>
          <td>{{order.name}}</td>
          <!-- <td>{{order.createdAt}}</td> -->
          <td>
            
              <option value="">{{ order.orderStatus }}</option>
            
          </td>
          <td>
            <select [(ngModel)]="order.orderStatus"
            (change)="onStatusChange(order)">
              <option value="1">Pending</option>
              <option value="2">Confirmed</option>
              <option value="3">Out For Delivery</option>
              <option value="4">Delivered</option>
            </select>
        </tr>
      </tbody>
    </table>

    <div>
      <h2 class="text-primary">Update Order Status</h2>
      <table>
        <tr>
          <td><label for="orderId">Enter Order ID:</label></td>
          <td><input type="number" [(ngModel)]="orderId" id="orderId" /></td>
        </tr>
        <tr>
          <td><label for="statusId">Enter Status ID:</label></td>
          <td>
            <input
              type="number"
              id="statusId"
              class="mt-2"
            />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button  class="btn btn-primary mt-2">
              Update Order Status
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <h2 class="text-primary">User Orders</h2>
    <input type="number" [(ngModel)]="userId" placeholder="Enter User ID" />
    <!-- <button (click)="getUsersOrder()">Get User Orders</button> -->
    <ul>
      <li *ngFor="let order of userOrders">
        Order ID: {{ order.id }} - User ID: {{ order.userId }} - Status:
        {{ order.orderStatus }}
      </li>
    </ul>
  </div>
  <div>
    <h2 class="text-primary">All Order Status</h2>
    <button (click)="getAllOrderStatus()" class="btn btn-primary">
      Get All Order Status
    </button>
    <ul>
      <li *ngFor="let status of orderStatusList">
        Status ID: {{ status.orderId }} - Status: {{ status.statusId }}
      </li>
    </ul>
  </div>
</div>
