<style>
  .main {
    height: 90vh; /* Adjust the height as needed */
    overflow-y: auto;
  }
</style>

<div class="main">
  <p class="fs-3 text-primary display-4 mt-4">ORDER DETAILS</p>
  <p class="fs-3 text-primary display-4 mt-4">ALL ORDERS</p>
  <div>
    <!-- <h2 >All Orders</h2> -->
    <!-- <button (click)="getAllOrders()" class="btn btn-primary" (click)="getAllOrders()">Get All Orders</button><br /> -->

    <table class="table table-bordered mt-2">
      <thead>
        <tr>
          <th scope="col" class="text-warning bg-primary text-center">Order Id</th>
          <th scope="col" class="text-warning bg-primary text-center">UserName</th>
          <th scope="col" class="text-warning bg-primary text-center">Current Status</th>
          <th scope="col" class="text-warning bg-primary w-25 text-center">Update Status</th>
        </tr>
      </thead>
      <tbody id="table">
        <tr *ngFor="let order of orders">
          <td class="text-danger text-center">{{ order.id }}</td>
          <td class="text-danger text-center">{{ order.name }}</td>
          <td>
            <option value="" class="text-primary text-center">{{ order.orderStatus }}</option>
          </td>
          <td>
            <select
              [(ngModel)]="order.orderStatus"
              (change)="onStatusChange(order)"
              class="border border-danger mx-5"
            >
              <option value="1" class="text-info">Pending</option>
              <option value="2" class="text-warning">Out For Delivery</option>
              <option value="3" class="text-success">Delivered</option>
              <option value="4" class="text-danger">Cancelled</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
