<style>
  .main {
    height: 90vh; /* Adjust the height as needed */
    overflow-y: auto;
  }
</style>
<div class="main">
<div class="d-flex justify-content-between align-items-center mt mt-5">
  <h1 Style="font-family: 'Times New Roman';" class="fs-2 text-primary">
    DishList
  </h1>
  <button
    type="button"
    class="btn btn-success text-white"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    data-bs-whatever="@mdo"
    class="btn btn-primary"
  >
    + AddProducts
  </button>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Products</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(dishForm)" #dishForm="ngForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              name="title"
              ngModel
            />
          </div>
          <div class="mb-3">
            <label for="category-select" class="col-form-label">Category</label>
            <select
              id="category-select"
              class="form-select"
              class="form-control"
              aria-label="Default select example"
              name="categoryId"
              ngModel
            >
              <option value="" selected>Select Category</option>
              <option *ngFor="let category of categories" [value]="category.id">
                {{ category.title }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Description</label
            >
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              name="description"
              ngModel
            />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Price</label>
            <input
              type="number"
              class="form-control"
              id="recipient-name"
              name="price"
              ngModel
            />
          </div>
          <div class="form-group mb-2">
            <label class="control-label mb-2" for="filebutton">Photo</label>
            <div class="col-6">
              <input
                id="filebutton"
                name="photo"
                class="input-file"
                type="file"
                ngModel
                (change)="onFileChange($event)"
              />
            </div>
          </div>
          <button type="submit" class="btn btn-primary text-warning">
            {{buttontxt}}
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="mx-2 btn btn-dark" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-1">
  <table class="table table-bordered text-center">
    <thead class="thead-dark">
      <tr class="table-primary">
        <th class="text-warning bg-primary">S.No</th>
        <th class="text-warning bg-primary">Dish Name</th>
        <th class="text-warning bg-primary">Description</th>
        <th class="text-warning bg-primary">Price</th>
        <th class="text-warning bg-primary">Edit</th>
        <th class="text-warning bg-primary">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dish of dishes">
        <td class="text-danger">{{ dish.id }}</td>
        <td class="text-danger">{{ dish.title }}</td>
        <td class="text-danger">{{ dish.description }}</td>
        <td class="text-danger">{{ dish.price }}</td>

        <td>
          <button
            type="button"
            class="btn btn-warning text-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-bs-whatever="@mdo"
            (click)="edit(dish.id)"

          >
            <i class="fas fa-pencil-alt btn-warning" ></i>
            Edit
          </button>
        </td>
        <td (click)="delete(dish.id)">
          <button
            class="btn btn-danger text-white w-50 btn-primary"
           >
            <i class="fas fa-trash-alt text-warning" ></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>